version: "3.8"

services:
  backend:
    platform: linux/amd64
    build: .
    ports:
      - "3002:3002"

    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules

    env_file:
      - .env

    command: npm run dev
